@model IEnumerable<Hurtownia.Models.Statistic>

@{
    ViewBag.Title = "Panel Admina";
}
<div class="page-header">




    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h3>Admin Panel </h3> 
        </a>



        <ul class="list-group">
            <li class="list-group-item">      @Html.ActionLink("Category statistic", "CategoryCounter", "Home")  </li>
            <li class="list-group-item">       @Html.ActionLink("About Users", "About", "Home")  </li>
            <li class="list-group-item">         @Html.ActionLink("Users", "Index", "User")  </li>
            <li class="list-group-item">       @Html.ActionLink("Orders", "Index", "ControlOrders")  </li>
            <li class="list-group-item">    @Html.ActionLink("Order Statistic", "OrderCounter") </li>
            <li class="list-group-item">     @Html.ActionLink("Users Reports", "Index", "Report")  </li>
            <li class="list-group-item">       @Html.ActionLink("Users Address", "Shipping", "ControlOrders")</li>
           
        </ul>

    </div>



</div>

