@model Hurtownia.Models.Report

@{
    ViewBag.Title = "Edit";
}

</br>
<div class="page-header">
    <h1>Edit <small>reports</small></h1>
</div>
</br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
 
        <hr />
        @Html.ValidationSummary(true)


        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.user.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.user.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.question)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.question)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfCreation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfCreation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfAnwser)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfAnwser)
                </dd>

            </dl>
        </div>


       


      
        @Html.HiddenFor(model => model.ReportId)
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.question)
        @Html.HiddenFor(model => model.DateOfCreation)
        @Html.HiddenFor(model => model.DateOfAnwser)
        <div class="form-group">
            @Html.LabelFor(model => model.reply, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.reply)
                @Html.ValidationMessageFor(model => model.reply)
            </div>
        </div>

        

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
